<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [1]:
print("Ola Mundo!!!")

Ola Mundo!!!

Crie uma célua de texto e adicione uma imagem.

In [5]:
#execute o comando abaixo no terminal integrado
#pip install Pillow

# Importe as bibliotecas necessárias
from PIL import Image

# Abra a imagem
im = Image.open("./p.png")

# Mostra informações sobre a imagem
print(f"Nome do arquivo: {im.filename}")
print(f"Formato da imagem: {im.format}")
print(f"Modo de cor: {im.mode}")
print(f"Tamanho da imagem: {im.size}")

# Mostra a imagem
im.show()

Nome do arquivo: ./p.png
Formato da imagem: PNG
Modo de cor: RGBA
Tamanho da imagem: (194, 172)

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [4]:
import pandas as pd

# Criando o DataFrame com as informações da tabela
df = pd.DataFrame({
    'Dia': ['DIA','19/02', '20/02', '21/02'],
    'Valor Total Vendas': ['VALOR','10,00', '20,00', '30,00'],
    'Qtd Total Vendas': ['QUANTIDADES','1', '2', '3'],
    'Ticket Medio': ['MEDIA','a', 'b', 'c']
})

# Substituindo um valor na tabela
df.loc[df['Dia']=='19/02','Dia'] ='MUDOU'
df.loc[df['Valor Total Vendas']=='10,00','Valor Total Vendas'] ='MUDOU'
df.loc[df['Qtd Total Vendas']=='1','Qtd Total Vendas']='MUDOU'
df.loc[df['Ticket Medio']== 'b','Ticket Medio']='MUDOU'

# Exibindo o DataFrame resultante
print(df)

     Dia Valor Total Vendas Qtd Total Vendas Ticket Medio
0    DIA              VALOR      QUANTIDADES        MEDIA
1  MUDOU              MUDOU            MUDOU            a
2  20/02              20,00                2        MUDOU
3  21/02              30,00                3            c

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [3]:
string = "a, casa, e, verde"
nova_string1 = string.replace("a", "A")
nova_string2 = string.replace(",", "!")
nova_string3 = string.replace("c", "A")
print(nova_string1) # "a; casa; e; verde"
print(nova_string2) # "a; casa; e; verde"
print(nova_string3) # "a; casa; e; verde"

A, cAsA, e, verde
a! casa! e! verde
a, Aasa, e, verde

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [2]:
import re

noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos ja.'

# Encontrar o valor da taxa Selic
selic_pattern = r'\d+,\d+%'  # define um padrão de números com vírgula e % para representar a taxa Selic
selic_match = re.search(selic_pattern, noticia)  # realiza uma correspondência do padrão na string noticia

if selic_match:
    selic = selic_match.group()
    print("Taxa Selic:", selic)
else:
    print("Nenhuma taxa Selic encontrada na notícia.")

# Encontrar o valor do ano
anos_pattern = r'\d{4}'  # define um padrão de 4 dígitos consecutivos para representar o ano
import re

frase = "já faz 5 anos"

anos_encontrados = re.findall(r'\d+', frase)

if anos_encontrados:
    anos = int(anos_encontrados[0])
    print("Anos:", anos)
else:
    print("Nenhum ano encontrado na frase.")

Taxa Selic: 2,75%
Anos: 5

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [1]:
a = False
b = True
x = not a & b
print(x)  # output: True

# Verificar o valor de x em outro ponto do código
print("O valor atual de x é:", x)

True
O valor atual de x é: True